.movements {
  grid-area: d;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.movements p {
  background-color: brown;
  padding: .5rem 1.2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px black;
}

.movements p:hover {
  background-color: rgba(165, 42, 42, 0.822);
  cursor: pointer;
}

